<h1 style="text-align: center;"> Sign Up </h1>

<div class="signup-div">
<%= form_with model:@user, local: true do |f| %>
      <% if @user.errors.any? %>
      <p>
            <%= @user.errors.full_messages.join(",") %>
      </p>
      <% end %>

      <div class="radio-btn-signup">
            <%= f.label :is_teacher, "Teacher" , :value=> "true" %>
                  <%= f.radio_button :is_teacher, true %>
                        <%= f.label :is_teacher, "Student" , :value=> "false" %>
                              <%= f.radio_button :is_teacher, false, :checked=> true %>
      </div>

<div>
      <%= f.label :first_name %> <br>
      <%= f.text_field :first_name %> <br> <br>
</div>
<div>
      <%= f.label :last_name %> <br>
      <%= f.text_field :last_name %> <br> <br>
</div>
<div>
      <%= f.label :email %> <br>
      <%= f.text_field :email %> <br> <br>
</div>
<div>
      <%= f.label :password %> <br>
      <%= f.password_field :password %> <br> <br>
</div>
<div>
      <%= f.label :password_confirmation %> <br> 
      <%= f.password_field :password_confirmation %> <br> <br>
</div>
<%= f.submit "Sign up", :class => "btn btn-danger" %>
<% end %>
</div>