<h1 style="text-align: center;">Edit Facility</h1>
<div class="facilities-edit-page">
    <div class="facilities-edit-info-page">
<%= form_for @facility do |facility| %>
    
        <%= facility.label :name %> <br>
        <%= facility.text_field :name %> <br> <br>
    
    
        <%= facility.label :description %> <br> 
        <%= facility.text_area :description %> <br> <br>
    
        <%= facility.label :book%> 
        <%= facility.check_box :book %>
    
    
    <%= facility.submit "Update Facility", :class => "btn btn-danger"%>
    <% end %>
</div>
</div>