<%= form_for @facility do |facility| %>
    <% if current_user && current_user.is_admin %>
        <div>
            <%= facility.label :name %>
            <%= facility.text_field :name %>
        </div>
        <div>
            <%= facility.label :description %>
            <%= facility.text_field :description %>
        </div>
            <%= facility.label :book%>
            <%= facility.check_box :book %>
        </div>
    <% end %>
    <% if current_user && current_user.is_teacher %>
        <div>
            <%= facility.label :name %>
            <%= facility.text_field :name, :readonly => true%>
        </div>
        <div>
            <%= facility.label :description %>
            <%= facility.text_field :description, :readonly => true %>
        </div>
        <div>
            <%= facility.label :book%>
            <%= facility.check_box :book %>
        </div>
    <% end %>
    <%= facility.submit %>
<% end %>