<%= form_for @facilities do |facilities| %>
    <div>
        <%= facilities.label :name %>
        <%= facilities.text_field :name %>
    </div>
    <div>
        <%= facilities.label :description%>
        <%= facilities.text_field :description %>
    </div>
    
    <%= facilities.submit %>
    <% end %>