
<div>
    <h2> <%= @facility.name %> </h2>
</div>

<div>
    <p> About: <%= @facility.description %> </p>
</div>

<div> 
<small> Booked: <%= @facility.book %> </small>
</div>
<hr>
<% if can? :crud, @facility %>
    <%= link_to 'Edit', edit_facility_path %>
<% end %>
<% if can? :crud, @facility %>
    <%= link_to 'Delete', facility_path(@facility), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>