<div class="facilities-show-page">
    <div class="facilities-show-info">
        <h2 style="text-align: center;"><b><%= @facility.name %></b></h2>
        <hr>

        <p> About: <%= @facility.description %></p>
        <hr>

        <small> Booked: <%= @facility.book %> </small> <br>
        <hr>
        <% if current_user.is_admin || current_user.is_teacher %>
            <%= link_to 'Edit' , edit_facility_path, :class => "btn btn-danger" %>
        <% end %>
        <% if can? :crud, @facility %>
            <%= link_to 'Delete' , facility_path(@facility), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
        <% end %>
    </div>
</div>