<h1 style="text-align: center;">Edit the course</h1>

<%= form_for @course do |course| %>

    <div class="courses-edit-page"> 
        <div class="courses-edit-info-page">
        <%= course.label :name %> <br>
        <%= course.text_field :name %> <br> <br>

        <%= course.label :category %> <br>
        <%= course.text_field :category %> <br> <br>

        <%= course.label :course_code %> <br>
        <%= course.text_field :course_code %> <br> <br>
    
        <%= course.label :description %> <br>
        <%= course.text_area :description %> <br> <br>
    
        <%= course.label :seats %> <br>
        <%= course.text_field :seats %> <br> <br>
    
        <%= course.label :start_date %> <br> 
        <%= course.text_field :start_date %> <br> <br>
    
        <%= course.label :end_date %> <br>
        <%= course.text_field :end_date %> <br> <br>
    
        <%= course.label :time %> <br>
        <%= course.text_field :time %> <br> <br>
    

    <%= course.submit "Update Course", :class => "btn btn-danger"%>

    <% end %>
</div>
</div>