<%= form_for @course do |c| %>
    <div>
        <%= c.label :name %>
        <%= c.text_field :name %>
    </div>
    <div>
        <%= c.label :category %>
        <%= c.text_field :category %>
    </div>
    <div>
        <%= c.label :description %>
        <%= c.text_field :description %>
    </div>
    <div>
        <%= c.label :seats %>
        <%= c.text_field :seats %>
    </div>
    <div>
        <%= c.label :start_date %>
        <%= c.date_field :start_date %>
    </div>
    <div>
        <%= c.label :end_date %>
        <%= c.date_field :end_date %>
    </div>
    <div>
        <%= c.label :time %>
        <%= c.time_field :time %>
    </div>
    <%= c.submit %>
    <% end %>