<%= form_for @courses do |course| %>

    <div> 
        <%= course.label :name %>
        <%= course.text_field :name %>
    </div> 

    <div> 
        <%= course.label :category %>
        <%= course.text_field :category %>
    </div>

    <div> 
        <%= course.label :description &>
        <%= course.text_field :description %>
    </div>

    <div> 
        <%= course.label :seats %>
        <%= course.text_field :seats %>
    </div> 

    <div>
        <%= course.label :start_date %>
        <%= course.text_field :start_date %>
    </div> 

    <div> 
        <%= course.label :end_date %>
        <%= course.text_field :end_date %>
    </div> 

    <div> 
        <%= course.label :time %>
        <%= course.text_field :time %>
    </div> 

    <%= course.submit %>

    <% end %>


