<br/>
    <div>
        <h1> <%= @course.name %> </h1>
    </div>

    <div>
        <p> Course code: @course.course_code </p>
    </div>

    <div>
        <p> About: <%= @course.description %> </p>
    </div>

    <div>
    <p> Number of People Enrolled: <%= @course.enrolls.count %> </p>
    </div>

    <div>
        <p> Seats available: <%= @course.seats %> </p>
    </div>

    <div> 
        <p>
            Course Starts on: <%= @course.start_date %> 
            <br/>
            Course Ends on: <%= @course.end_date %> 
        </p>
    </div>

    <div> 
        <p> Timing of the Class <%= @course.time %> </p>
    </div>

    <div> 
        Teacher info: <%= @course.user&.full_name || "Deleted" %> 
    </div>
    <% if can? :crud, @course %>
        <%= link_to "Edit", edit_course_path(@course), class: "btn btn-outline-primary" %>
    <% end %>
    <% if can? :crud, @course %>
        <%= link_to "Delete", course_path(@course.id), class: "btn btn-outline-primary", method: :delete, data: {confirm: "Are you sure you want to delete the course?"}%>
    <% end %>
