
    <div>
        <h2> <%= @course.title %> </h2>
    </div>

    <div>
        <h3> Course code:  </h3>
    </div>

    <div>
        <p> About: <%= @course.description %> </p>
    </div>

    <div>
    <p> Number of People Enrolled:  </p>
    </div>

    <div>
        <p> Seats available: <%= @course.seats %> </p>
    </div>

    <div> 
        <small> <%= @course.start_date %> - <%= @course.end_date %> </small>
    </div>

    <div> 
    <small> Timing of the Class <%= @course.time %> </small>
    </div>

    <div> 
    <small> Teacher info: </small>
    </div>
    <%= link_to 'Edit', edit_course_path(@course) %>
    <%= link_to 'Delete', course_path(@course), method: :delete, data: { confirm: "Are you sure?" } %>