    <div class="courses-show-div">
        <div class="courses-show-info">
            
            <h2 style="text-transform: capitalize;"><b><%= @course.name %></b></h2>
            <hr>
            
    
            <p> Course code: <b><%= @course.course_code %> </b></p>
    
            <p> About: <%= @course.description %></p>
            <hr>
            
            
            
            <p> Number of People Enrolled: <b> <%= @total_enrolls %> </b> </p>

            <p> Seats available: <b> <%= @seats_left %> </b></p>
            <p> Total seats: <b> <%= @total_seats %> </b> </p>
            <hr>
            
    
            <small> Timing of the Class: </small> <br>
            <b> <%= @course.time %> </b> <br>
            <hr>

            <small> Course start date :</small> <br>

            <b><%= @course.start_date %></b> <br>
            <small> Course end date :</small> <br>
            <b><%= @course.end_date %></b> <br>

            <hr>
    
            <small> Teacher info: <b><%= @course.user&.full_name || "Deleted" %></b></small> <br>
            <hr>
            
                <% if can? :crud, @course %>
                    <%= link_to "Edit" , edit_course_path(@course), class: "btn btn-outline-primary" %>
                        <% end %>
                            <% if can? :crud, @course %>
                                <%= link_to "Delete" , course_path(@course.id), class: "btn btn-outline-primary" , method:
                                    :delete, data: {confirm: "Are you sure you want to delete the course?" }%>
                                    <% end %>
                                    
        </div>
    </div> 
