<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CodeCoreProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container-fluid">
          <%# <a class="navbar-brand " href="/">CodeCoreProject</a> %>
          <div class="order-0">
            <ul class="navbar-nav ms-auto">
              <li>
                <!-- <a class="navbar-brand" style="font-size:30px" href='/'>&#128218</a> -->
                <a href="/"><img alt="books-logo" src="https://media-public.canva.com/t1V5o/MADrPCt1V5o/2/t.png" width="75px" height="45px"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/facilities">Facilities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/courses">Courses</a>
              </li>
              <li class="nav-item">
                  <% if current_user && !current_user.is_teacher && !current_user.is_admin%>
                    <a class="nav-link" href="/courses/enrolled">My Courses</a>
                  <% end %>
              </li>
              <li class="nav-item">
                  <% if current_user && current_user.is_teacher %>
                    <a class="nav-link" href="/courses/created">My Created Courses</a>
                  <% end %>
              </li>
              <li class="nav-item">
                  <% if current_user && current_user.is_admin %>
                    <a class="nav-link" href="/dashboard">Admin Panel</a>
                  <% end %>
              </li>
            </ul>
          </div>
          <div class="order-3">
            <ul class="navbar-nav me-auto">
            <%if user_signed_in? %>
              <li class="nav-item">
                <h5 style="padding: 7px 10px 0px 0px; color: white;">Hello, <%= current_user.is_teacher ? "Teacher #{current_user.full_name}" : current_user.full_name %></h5>
              </li>
              <li class="nav-item">
              <%= button_to 'Logout', session_path, method: :delete, data:{confirm: 'Are you sure you want to logout?'}, :class => "btn btn-danger"%>
              </li>
            <% else %>
              <li class="nav-item">
                <!-- <a class="nav-link" href="/users/new">Sign Up</a> -->
                <span style="padding: 0px 5px 0px 0px;"><%= link_to "Sign Up", "/users/new", :class => "btn btn-danger" %></span>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link" href="/session/new">Sign In</a> -->
                <%= link_to "Sign In", "/session/new", :class => "btn btn-danger" %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <% flash.each do |type, message| %>
      <div class="container" style="padding:30px">
      <span class="alert alert-<%= type %>" role="alert"><%= message %></span>
      <% end %>
      </div>
  <%= yield %>
  </body>